@page "/Login"
@inject IApiService ApiLogic
@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorageService;

<form>
    <div class="form-group">
        <label for="token">Secret Token</label>
        <input type="text" class="form-control" id="token" @bind="_loginModel.Token" placeholder="Enter Secret Token"/>
    </div>
    <button class="btn btn-primary" @onclick="UserLogin">Login</button>
</form>


@code {
    private LoginRequestDto _loginModel = new();

    private async Task UserLogin()
    {
        var message = await ApiLogic.LoginAsync(_loginModel);
        Console.WriteLine($"UserLogin: " + message);
        if (message == "Success")
        {
            await LocalStorageService.SetItemAsStringAsync("isauthenticated", "true");
            NavigationManager.NavigateTo("/", true);
        }
    }

}
